<div class='container mt-3'>
<h1>Painel</h1>
</div>

<div class="row justify-content-right m-0">
  <div class="col-sm-4 my-4">
    <%= form_with url: tasks_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Buscar tarefa"
        %>
      <%= submit_tag "Buscar", name: "", class: "btn btn-gradient ms-1" %>
    <% end %>
  </div>
</div>

<div class="cards">
  <% Task::STEPS.each do |step|  %>
  <div>

    <div class="card-category" style="background-color: blue ">
      <%= step %>
    </div>
      <% @tasks.select do |t|%>
        <% if t.step == step %>
          <div class="card-task">
          <p> <%= t.title %> </p>
          <p> <%= t.deadline %> </p>
          <p> <%= User.find(t.created_by).first_name %> </p>
          <p> <%= t.user.first_name %> </p>
          <p> <%= t.status %> </p>
          </div>
        <% end %>
      <% end %>
  </div>
  <%end %>
</div>
