<% require 'json'  %>
<div class="container">
  <div class="task-main-card mt-5" data-controller="edit-in-task">
    <div class="hidden" data-edit-in-task-target="clients" ><%= Client.all.pluck(:name) %></div>
    <div class="hidden" data-edit-in-task-target="responsibles" ><%= User.all.to_json%></div>
    <div class="hidden" data-edit-in-task-target="steps" ><%= Step.all.to_json %></div>
    <form id="edit_task_<%=@task.id%>" enctype="multipart/form-data" action="/tasks/<%=@task.id%>" novalidate="novalidate" accept-charset="UTF-8" method="post">
      <input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="N47B9uuCscf1TMPr56jIyLE9RrA+65tv4TC6Ks+UO96ZLg9hTaqYE9NiAuozjZkjxGGa/AXIYREuZ6KSu427IQ==">
      <div class = 'task-main-card__title-div' >
        <h1 class = "task-main-card__title">Tarefa</h1>
        <%= link_to authenticated_root_path, class: "navbar-brand" do %>
          <i class="fa-regular fa-rectangle-xmark fa-xl" style="color: #c7c7c7;"></i>
        <% end %>
      </div>
      <div class="row mt-5">
        <div class="col-6 task-main-card__column-left">
          <div class="mb-5 task-main-card__info-field">
            <div class="task-main-card__label"><p>Etapa</p></div>
            <div class="task-main-card__text task-main-card__step" style="background-color:<%= Step.find(@task.step_id).color %>;" data-edit-in-task-target="stepDiv" data-action="dblclick->edit-in-task#editStep"><%= @task.step.name%></div>
          </div>
          <div class="mb-5 task-main-card__info-field">
            <div class="task-main-card__label"><p>Cliente</p></div>
            <div class="task-main-card__text" data-edit-in-task-target="clientDiv" data-action="dblclick->edit-in-task#editClient"><%= @task.client.name %></div>
          </div>
          <div class="mb-5 task-main-card__info-field">
            <div class="task-main-card__label"><p>Título</p></div>
            <div class="task-main-card__text" data-edit-in-task-target="titleDiv" data-action="dblclick->edit-in-task#editTitle"><%= @task.title %></div>
          </div>
          <div class="mb-5 task-main-card__info-field">
            <div class="task-main-card__label"><p>Descrição</p></div>
            <div class="task-main-card__text" data-edit-in-task-target="descriptionDiv" data-action="dblclick->edit-in-task#editDescription"><%= @task.description %></div>
          </div>
          <div class="mb-5 task-main-card__info-field">
            <div class="task-main-card__label"><p>Deadline</p></div>
            <div class="task-main-card__text" id="deadline-div" data-edit-in-task-target="deadlineDiv" data-action="dblclick->edit-in-task#editDeadline"><%= @task.deadline.strftime("%d/%m/%y") %></div>
          </div>
          <div class="mb-5 task-main-card__info-field">
            <div class="task-main-card__label"><p>Solicitante</p></div>
            <div class="task-main-card__text"><%= "#{User.find(@task.created_by).first_name} #{User.find(@task.created_by).last_name}  " %></div>
          </div>
          <div class="mb-5 task-main-card__info-field">
            <div class="task-main-card__label"><p>Responsável</p></div>
            <div class="task-main-card__text" data-edit-in-task-target="responsibleDiv"><%= "#{@task.user.first_name} #{@task.user.last_name}" %></div>
          </div>
        </div>
        <div class="col-6 task-main-card__column-right">
          <div class="mb-5 task-main-card__info-field">
            <div class="task-main-card__label"><p>Status</p></div>
            <div class="task-main-card__text task-main-card__status task-main-card__status--<%=@task.status.tr(' çãí','-cai')%>" data-edit-in-task-target="statusDiv" data-action="dblclick->edit-in-task#editStatus"><%= @task.status.upcase %></div>
          </div>
          <div class="mb-5 task-main-card__info-field">
            <div class="task-main-card__label"><p>Anexo</p></div>
            <div class="task-main-card__text"><%= @task.client.name %></div>
          </div>
          <div class="mb-5 task-main-card__info-field">
            <div class="task-main-card__label"><p>Arquivado</p></div>
            <input name="task[archived]" type="hidden" value="false" />
            <input id="archived_boolean_attribute" name="task[archived]" type="checkbox" <%= @task.archived ? "checked":""%> data-action="edit-in-task#editArchived" value="true" />
          </div>
          <div class="task-main-card__submit-div hidden mt-5">
            <%= link_to "Cancelar", task_path(@task), class:'task-main-card__submit-cancel' %>
            <input class= "task-main-card__submit-save"type="submit" name="commit" value="Salvar" data-disable-with="Salvar">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
