<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)), url(<%= image_path 'banner-2.png' %>);">
  <div class="container">
    <h1><strong>eFloow</strong> a melhor plataforma para <span data-controller="typed-js"></span></h1>
    <p>Uma solução completa para criar workflows sem burocracia e otimizar seu tempo.</p>
    <%= link_to "Solicite uma demonstração", demo_path, class: "btn-ghost" %>
    <%= link_to "Comece já", new_user_registration_path, class: "btn-gradient" %>
  </div>
</div>

<div class="container card-product mt-5">
  <div class="card-product-infos">
    <h2>Você já se perguntou como seria <strong>INCRÍVEL</strong> ter todas as tarefas da sua equipe organizadas de forma eficiente?</h2>
    <p>Ganhe tempo automatizando tarefas rotineiras, com fluxos de trabalho personalizados e deixe que o sistema cuide das tarefas recorrentes, liberando sua equipe para focar no que realmente importa.</p>
  </div>
  <%= image_tag "home-problema.jpg" %>
</div>

<div class="container card-product my-5">
  <%= image_tag "home-ideia.jpg" %>
  <div class="card-product-infos">
    <h2>O eFloow é a solução perfeita para <strong>otimizar as operações</strong> da sua empresa.</h2>
    <p>Com uma interface intuitiva, você gerencia e acompanha o progresso de cada etapa do seu fluxo de trabalho. <strong>Promova a colaboração</strong> entre os membros da equipe, permitindo que eles compartilhem informações, comentários e arquivos em um ambiente centralizado. Adeus e-mails intermináveis e confusões de versões desatualizadas!</p>
  </div>
</div>

<div class="container-home pt-2">
  <div>
    <h2 class="h2-home mt-5"><strong>Tudo</strong> o que você precisa para criar</h2>
    <h2 class="h2-home mb-3"><strong>todo tipo de fluxo de trabalho</strong></h2>
  </div>
  <div class=" container cards-home">
    <div class="card-category-home box-1 d-flex justify-content-center align-items-center">
      <div class="text-center">
        <i class="fa-solid fa-bullhorn image-1"></i>
        <br>
        <br>
        <span>Marketing</span>
      </div>
    </div>

    <div class="card-category-home box-2 d-flex justify-content-center align-items-center">
      <div class="text-center">
        <i class="fa-solid fa-diagram-project image-2"></i>
        <br>
        <span>Gestão de projetos</span>
      </div>
    </div>

    <div class="card-category-home box-3 d-flex justify-content-center align-items-center">
      <div class="text-center">
        <i class="fa-solid fa-object-group image-3"></i>
        <br>
        <br>
        <span>Design</span>
      </div>
    </div>

    <div class="card-category-home box-4 d-flex justify-content-center align-items-center">
      <div class="text-center">
         <i class="fa-solid fa-list-check image-4"></i>
        <br>
        <span>Gestão de tarefas</span>
      </div>
    </div>

    <div class="card-category-home box-5 d-flex justify-content-center align-items-center">
      <div class="text-center">
         <i class="fa-solid fa-code image-5"></i>
        <br>
        <br>
        <span>TI</span>
      </div>
    </div>

    <div class="card-category-home box-6 d-flex justify-content-center align-items-center">
      <div class="text-center">
         <i class="fa-solid fa-cart-arrow-down image-6"></i>
        <br>
        <span>Vendas e CRM</span>
      </div>
    </div>

    <div class="card-category-home box-7 d-flex justify-content-center align-items-center">
      <div class="text-center">
         <i class="fa-solid fa-gears image-7"></i>
        <br>
        <br>
        <span>Operações</span>
      </div>
    </div>
    <div class="my-5 d-flex justify-content-center">
    <%= link_to "Comece já", new_user_registration_path, class: "btn-ghost" %>
    </div>
  </div>
</div>


<div class="container card-product-end mt-5">
  <div class="card-product-infos">
    <h2>Organize seu trabalho e alcance <strong>maior eficiência</strong></h2>
    <p>Centralize todo o seu trabalho, processos, ferramentas e arquivos em uma única plataforma. Conecte equipes, acabe com os silos e mantenha uma única fonte de informações em toda a sua organização.</p>
  </div>
  <%= image_tag "mockup-ekyte.png" %>
</div>
