<div class= "container" style="padding-bottom: 50px;">
  <div class="task-main-card mt-5" >
    <div class="my-4 ms-5">
      <h1 class="title-home"> Entrar </h1>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
      <div class="form-inputs ms-5 me-5">
        <%= f.input :email,
                    label: "Email",
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    label: "Senha",
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me,
                    label: 'Lembrar-me',
                    as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions ms-5">
        <%= f.button :submit, "Entrar", class:'btn btn-gradient my-2'%>
        <%= link_to "Voltar", root_path, class:'btn btn-gray my-2' %>
      </div>
    <% end %>
    <div class='my-3 ms-5' style="padding-bottom: 50px;">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
