<div>
  <form action="/steps" enctype="multipart/form-data"  novalidate="novalidate" accept-charset="UTF-8" method="patch">
    <input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="N47B9uuCscf1TMPr56jIyLE9RrA+65tv4TC6Ks+UO96ZLg9hTaqYE9NiAuozjZkjxGGa/AXIYREuZ6KSu427IQ==">
    <div data-controller="sort-steps" data-sort-steps-target="stepsDiv" data-content-loader-url-value="<%= steps_path %>">
    <input type="hidden" id="stepsOrder" name="stepsOrder" data-sort-steps-target="stepsIndex" value="<%= @steps.pluck(:index).to_json %>">
    <div class="hidden"  ></div>
      <ul id="steps" class='mt-5 container'>
        <% @steps.each do |step| %>
          <li  class='mt-3 step-index__step-li' style="list-style-type: none" value="<%= step.index %>">
            <div class="step-index__step-li-div" style="border: 5px solid <%= step.color %>;width:100%;border-radius:10px;display:flex">
              <div style="background-color: <%= step.color %>;width:40px;"></div>
              <div class="step-index__step-li-inner-div">
                <div>
                  <h4><%= step.name %></h4>
                </div>
                <div class='step_index__step-li-buttons'>
                  <%= link_to edit_step_path(step), class: "navbar-brand" do %>
                    <i class="fa-solid fa-pen-to-square" style="color: black;"></i>
                  <% end %>
                  <%= link_to step_path(step), class: "navbar-brand", data: { turbo_method: :delete, turbo_confirm: "Você tem certeza que quer deletar a Etapa?" } do %>
                    <i class="fa-solid fa-trash" style="color: black;"></i>
                  <% end %>
                </div>
              </div>

            </div>
          </li>
        <% end %>
      </ul>

      <div class="task-main-card__submit-div hidden mt-5" data-sort-steps-target="buttonsDiv" >
        <%= link_to "Cancelar", steps_path, class:'task-main-card__submit-cancel' %>
        <input class= "task-main-card__submit-save" type="submit" name="commit" value="Salvar" data-disable-with="Salvar">
      </div>
    </div>
  </form>
  <div class="d-flex justify-content-center my-5">
    <%= link_to "Criar Etapa", new_step_path, class:'task-main-card__submit-save' %>
  </div>
</div>
