<!DOCTYPE html>
<html>
  <head>
    <title>Flow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/x-icon" href="/https://cdn.awsli.com.br/1755/1755179/logo/3832773334.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div class="row m-0">
      <div class="col-3 sidebar">
        <%= render "shared/sidebar" %>
      </div>
      <div class="col-9">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
